<launch>
  <param name="/use_sim_time" value="true" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_offline_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -urdf_filename $(find cartographer_ros)/urdf/vlp16.urdf
          -bag_filenames $(arg bag_filename)
          -configuration_basename vlp16.lua"
      output="screen">
    <remap from="points2" to="velodyne_points" />
    <remap from="imu" to="imr/imu/data" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_3d.rviz" />
</launch>
